html {
  scroll-behavior: smooth;
}

.jumbotron {
  background: whitesmoke;
  font-family: 'Montserrat', sans-serif;
  font-size: 100px;
}

.sub-text {
  font-size: 20px;
  padding-left: 50px;
}

.fontfix {
  font-family: 'Open Sans', sans-serif;
}

#order {
  display: none;
}

.bold {
  font-weight: 700;
}

.align {
  text-align: right;
}

.show {
  display: none;
}

.bottom-hr {
  border-top: 5px dotted rgb(180, 180, 180);
  width: 150px;
}
