.jumbotron {
  background: whitesmoke;
  font-family: 'Montserrat', sans-serif;
  font-size: 100px;
}

.sub-text {
  font-size: 20px;
  padding-left: 50px;
}

.user-input {
  font-family: 'Open Sans', sans-serif;
}